/build
/build_emu
linux-4.9
/media
toolchain
/mkapp/image
/mkapp/ota_app
/mkapp/app/app/HDZGOGGLE
/mkapp/app/app/record/record
/mkapp/app/app/record/rtspLive
/mkapp/app/version
/out
media.tar.gz
/tmp
/.vscode/settings.json
.DS_Store
